#inbox {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  top: 18%;
  left: 25%;
  background-color: #ffffff;
  width: 70%;
  overflow-y: scroll;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

.new-message-btn {
  background: #00a1e5;
  border: 1px solid #0fa2e2;
  border-radius: 50px;
  position: absolute;
  top: 90px;
  right: 434px;
}

.inbox-title {
  font-weight: bold;
  font-size: 28px;
}

.inbox-hero {
  position: absolute;
  top: 100px;
  left: 30%;
  text-align: center;
  font-size: 14px;
}

.inbox-hero h4 {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 2rem;
}

.inbox-hero p {
  margin: 0;
}

.message-count {
  float: right;
  position: relative;
  left: 100px;
  bottom: 35px;
  font-size: 0.9rem;
}

.message-close {
 color: white;
 border: 2px solid white !important;
 padding: 2px 6px 2px 6px !important;
 border-radius: 50%;
 position: relative;
 bottom: 16px;
 left: 16px;
 background: black !important; 
}

.message-close:hover {
  color: white !important;
}

.messages-btn {
background: #00a1e5;
 border: 1px solid #0fa2e2;
}

.messages-modal-content {
  border-top: 4px solid #4cc0ee;
  border-radius: 0;
}