.header-bar {
  height: 85px;
  background-color: white !important;
}

.search-bar {
  width: 310px !important;
  height: 33px;
  position: absolute;
  display: flex;
  left: 450px;
  top: 30px;
  border-radius: 20px;
}

.funday-header {
  font-size: 40px !important;
  position: absolute;
  display: flex;
  left: 100px;
  top: 15px;
}

.jace-holdy {
  color: red;
  font-size: 20px;
}
